In [2]:
from sqlite3 import connect
from pathlib import Path
import pandas as pd

In [3]:
relative_path = Path('python-package/employee_events/employee_events.db')
db_path = relative_path.absolute()

In [22]:
class QueryMixin:
    
    # Define a method named `pandas_query`
    # that receives an sql query as a string
    # and returns the query's result
    # as a pandas dataframe
    def pandas_query(self, sql_query):
        conn = connect(db_path)
        pandas_df = pd.read_sql_query(sql_query, conn)
        conn.close()
        return pandas_df

    # Define a method named `query`
    # that receives an sql_query as a string
    # and returns the query's result as
    # a list of tuples. (You will need
    # to use an sqlite3 cursor)
    def query(self, sql_query):
        conn = connect(db_path)
        cursor = conn.cursor()
        cursor.execute(sql_query)
        results = cursor.fetchall()
        conn.close()
        return results

In [23]:
query_mixin = QueryMixin()

In [24]:
query_mixin.pandas_query("SELECT name FROM sqlite_master WHERE type='table';")

              name
0         employee
1             team
2            notes
3  employee_events

In [25]:
query_mixin.query("SELECT name FROM sqlite_master WHERE type='table';")

[('employee',), ('team',), ('notes',), ('employee_events',)]